
/*FONT*/

@font-face {
    font-family: 'beaufort_for_lolbold';
    src: url('font/beaufortforlol-bold-webfont.woff2') format('woff2'), url('font/beaufortforlol-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spiegelregular';
    src: url('font/spiegel-regular-webfont.woff2') format('woff2'), url('font/spiegel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*HEADER*/

header {
    background: #010A13;
    border-bottom: 2px solid #C89B3C;
    width: 100%;
}


.titre-sommaire {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #F0E6D2;
}

li {
    list-style-type: none;
}

.sommaire {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.sommaireChoix {
    font-family: 'beaufort_for_lolbold';
    transition: 0.25s ease-in;
    text-decoration: none;
    color: #C8AA6E;
    font-size: 125%;
}

.sommaireChoix:hover {
    color: #F0E6D2;
}

.titrePrincipal {
    background-image: url("img/Summoners-Rift-Wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 5%;
    border-bottom: 2px solid #C89B3C;
}

/*TITRE*/

h1 {
    font-size: 250%;
    font-family: 'beaufort_for_lolbold';
}

h2 {
    color: #F0E6D2;
    font-family: 'beaufort_for_lolbold';
    font-size: 450%;
}

h3 {
    font-family: 'beaufort_for_lolbold';
    text-align: center;
    font-size: 200%;
    color: #C8AA6E;
    text-underline-offset: 5px;
    border-bottom: 2px solid #785A28;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

h4 {
    font-family: 'beaufort_for_lolbold';
    font-size: 125%;
    color: #A09B8C;
    width: 98vw;
    text-align: center;
}

h5 {
    font-family: 'beaufort_for_lolbold';
    font-size: 135%;
    color: #C8AA6E;
}

h6{
    font-size: 100%;
    font-family: 'beaufort_for_lolbold';
    margin-left: -100000px;
    position: absolute;
}

/*BODY*/

body {
    background-color: #010A13;
    font-family: 'spiegelregular';
    color: #A09B8C;
}

/*MAIN*/

main{
    padding-bottom: 2%;
}

.champ {
    margin-top: 5%;
    padding-bottom: 2.5%;
    border-top: 2px solid #091428;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.champSplashArt {
    width: 40vw;
    margin-left: 2%;
    border-radius: 20px;
    border: 2px solid #C89B3C;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.descriptionTxt {
    width: 33vw;
    margin-right: 10%;
}

/*FORM*/

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    font-family: beaufort_for_lolbold;
    color: #C8AA6E;
}

input {
    font-family: 'spiegelregular';
    border: 2px solid #0A323C;
    background-color: #0A1428;
    color: #C8AA6E;
    width: 15em;
    font-size: 110%;
    transition: 1s ease-out;
    outline: none;
}

textarea {
    font-family: spiegelregular;
    border: 2px solid #0A323C;
    background-color: #0A1428;
    color: #C8AA6E;
    transition: 1s ease-out;
    transition-property: border;
    font-size: 110%;
    outline: none;
}

input[type=submit] {
    height: 15%;
    font-size: 125%;
    color: #C89B3C;
    text-decoration: none;
    font-family: beaufort_for_lolbold;
    cursor: pointer;
    padding-bottom: 1em;
    padding-top: 1em;
}

input:hover{
    border: 3px solid #0AC8B9;
}

textarea:hover {
    border: 3px solid #0AC8B9;
}

/*FOOTER*/
footer {
    padding-top: 2em;
    border-top: 2px solid #C89B3C;
    font-family: 'spiegelregular';
}

.foot{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
footer a{
    color: #A09B8C;
}

@media only screen and (max-width:1024px){

    .sommaire {
        margin-left: auto;
        margin-right: auto;
        padding-right: 10%;
    }

    .sommaireChoix{
        font-size: 100%;
    }

    h1{
        font-size: 150%;
        text-align: center;
    }

    h2{
        font-size: 250%;
    }

    h3{
        font-size: 125%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: none;
    }

    h4{
        font-size: 100%;
    }

    h5{
        font-size: 100%;
    }

    h6{
        font-size: 100%;
    }

    .titrePrincipal{
        background-attachment: local;
        background-size: 135%;
        background-position-y: 65%;
    }

    .champSplashArt{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .description{
        flex-direction: column;
    }

    .descriptionTxt{
        text-align: center;
        width: auto;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    /*FOOTER*/

    .foot{
        display:flex;
        flex-direction: column;
    }
}
